
@import "../../styles/vars.scss";

$margin-right-of-logo: 30px;
$logo-size: 100px;
$oval-backgd-width: 1220px;

#hero {
  background-color: $black;
  position: relative;
  height: 100vh;
  overflow-x: hidden;

  &.active {
    .heroImage1, .heroImage2, #heroHeader {
      opacity: 1;
    }

    #heroHeaderOvalBckgd {
      opacity: .6;
    }

    .rLetterLoading {
      opacity: 0;
    }
  }

  .rLetterLoading {
    transition: opacity 150ms ease-out;
    pointer-events: none;
    display: block;
    font-size: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .heroImage1, .heroImage2 {
    opacity: 0;
    transition: opacity 400ms ease-in-out;
    position: relative;

    .heroImageLink {
      transition: opacity 200ms ease-in-out;
    }

    .partTitle {
      pointer-events: none;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 10101;
      padding: 16px;

      h2 {
        position: relative;

        .ovalShadow {
          z-index: 1;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-40%);
        }

        .text {
          position: relative;
          z-index: 2;
        }
      }
    }
  }

  .heroImage1 {
    transition-delay: 0;

    h2 {
      color: #A18664;

      .ovalShadow {
        opacity: 1;

        @media screen and (max-width: $phone-upper-breakpoint) {
          opacity: .6;
        }
      }
    }

    .heroImageLink {
      opacity: .85;

      &:hover {
        opacity: 1;
      }
    }
  }

  .heroImage2 {
    transition-delay: 600ms;

    h2 {
      color: #BDB8B2;

      .ovalShadow {
        opacity: .5;

        @media screen and (max-width: $phone-upper-breakpoint) {
          opacity: .35;
        }
      }
    }

    .heroImageLink {
      opacity: .8;
      &:hover {
        opacity: .95;
      }

      .ovalShadow {
        opacity: .4 !important;
      }
    }
  }
}

#heroHeaderOvalBckgd {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
  transition-delay: 300ms;
  transition-property: opacity;
  position: absolute;
  left: 30px;
  top: 30px;
  margin-left: ($oval-backgd-width / 2 * -1) + 100; // 50 to move the shadow more towards the text
  margin-top: -75px;
  pointer-events: none;
}

#heroHeader {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
  transition-delay: 300ms;
  transition-property: opacity;
  position: absolute;
  left: 30px;
  top: 30px;
  // transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#heroLogo {
  display: inline-block;
  float: left;
  margin-right: 30px;

  @media screen and (max-width: $phone-upper-breakpoint) {
    float: none;
    display: block;
    width: 100px;
  }
}

#shortDesc {
  font-family: 'Recoleta Bold';
  letter-spacing: 0.5px;
  font-size: 26px;
  line-height: 40px;
  margin-bottom: 10px;

  @media screen and (max-width: $phone-upper-breakpoint) {
    display: none;
  }
}

.pillMarged {
  margin-right: 15px;
  margin-bottom: 15px;
}

#heroHeaderRight {
  overflow: hidden;
  padding-top: 10px;
  white-space: nowrap;

  @media screen and (max-width: $phone-upper-breakpoint) {
    padding-top: 20px;
  }
}

