
@import "../../styles/vars.scss";

$margin-right-of-logo: 30px;
$logo-size: 100px;
$oval-backgd-width: 1220px;

#hero {
  position: relative;
  height: 100vh;
  overflow-x: hidden;

  .heroImage1, .heroImage2 {
    transition: opacity 200ms ease-in-out;
    position: relative;

    .partTitle {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 10101;
      padding: 16px;

      h2 {
        position: relative;

        .ovalShadow {
          z-index: 1;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-40%);
          opacity: .7;
        }

        .text {
          position: relative;
          z-index: 2;
        }
      }
    }
  }

  .heroImage1 {
    opacity: .85;

    &:hover {
      opacity: 1;
    }
  }

  .heroImage2 {
    opacity: .8;
    &:hover {
      opacity: .95;
    }

    .ovalShadow {
      opacity: .4 !important;
    }
  }
}

#heroHeaderOvalBckgd {
  position: absolute;
  left: 30px;
  top: 50%;
  margin-left: ($oval-backgd-width / 2 * -1) + 100; // 50 to move the shadow more towards the text
  margin-top: -125px;
  opacity: .5;
  pointer-events: none;
}

#heroHeader {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
}

#heroLogo {
  display: inline-block;
  float: left;
  margin-right: 30px;

  @media screen and (max-width: $phone-upper-breakpoint) {
    float: none;
    display: block;
    width: 100px;
  }
}

#shortDesc {
  font-family: 'Recoleta Bold';
  letter-spacing: 0.5px;
  font-size: 26px;
  line-height: 40px;
  margin-bottom: 10px;

  @media screen and (max-width: $phone-upper-breakpoint) {
    display: none;
  }
}

.pillMarged {
  margin-right: 15px;
  margin-bottom: 15px;
}

#heroHeaderRight {
  overflow: hidden;
  padding-top: 10px;
  white-space: nowrap;

  @media screen and (max-width: $phone-upper-breakpoint) {
    padding-top: 20px;
  }
}

